{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/html_table_row

    Moodle html_table_row template.

    The purpose of this template is to render a html_table_row.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * classes       (optional) CSS classes as a space-separated list.
    * attributes    (optional) Array of name / value pairs. The value
                    can be omitted for shorthand attributes.
    * cells         An array of cells, where each cell is an object
                    with context variables required by the
                    core/html_table_cell template.

    Example context (json):
    {
        "cells": [
            {
                "text": "I'm a table header with row scope!",
                "type": "th",
                "attributes": [
                    { "name": "class", "value": "mytableheadercell" }
                ]
            },
            {
                "text": "I'm a table cell!",
                "type": "td",
                "attributes": [
                    { "name": "class", "value": "mytablecell" }
                ]
            }
        ]
    }

}}
<tr {{#classes}}class="{{classes}}"{{/classes}}{{#attributes}} {{#value}}{{{name}}}="{{value}}"{{/value}}{{/attributes}}>
    {{#cells}}
    {{> core/html_table_cell}}
    {{/cells}}
</tr>